*, ::after, ::before{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	--dark-blue : rgb(19,25,33);
    --dark-grey : rgb(55,71,90);
	--marine-blue : rgb(35,47,62);
	--white : rgb(250,250,250);
	--orange : rgb(254,189,105);
}

body{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/*****************************/
/**********HEADER*************/
/*****************************/

header{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1em;
	background-color: var(--dark-blue);
}

header h1{
	color : var(--white);
	font-size: 3em;
}

header p{
	color : var(--white);
}

header a{
	text-decoration: none;
	color: var(--white);
}

header a:hover{
	background-color: var(--orange);
	color: var(--dark-blue);
}

header nav ul{
	display: flex;
	justify-content:center;
	list-style: none;
}

header nav{
	background-color: var(--dark-grey);
	width: 100%;
}

header nav ul li{
	margin: 1.5em 0;
}

header nav ul li a{
	text-transform: uppercase;
    padding: 1.5em;
}

#index{
	background-color: var(--dark-blue);
}

/*****************************/
/**********MAIN*************/
/*****************************/

main{
	flex: 2;
}

/*****************************/
/**********FOOTER*************/
/*****************************/

footer{
	padding: 1em;
	background-color: var(--marine-blue);
	font-size: 0.9em;
	font-weight: bold;
	display: flex;
	justify-content: center;
}

footer a{
	color: var(--orange);
	text-decoration: none;
}

a{
	text-decoration: none;
}


/***************************/
/*********FORMS*************/
/***************************/

fieldset{
	margin-left: 35%;
	margin-right: 35%;
	border-width: 5px;
}

main form{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
}

main form fieldset{
	display:flex;
	align-items: center;
	flex-direction: column;
}

main form fieldset label{
	margin:0.5em;
}

input[type=submit]{
    font-size: 0.8em;
	color:var(--white);
    padding: 0.5em;
    margin: 1em 0;
    background-color: var(--dark-grey);
    border: 1px solid var(--glowy-pink);
}
input[type=submit]:hover{
    cursor: pointer;
    background-color: var(--orange);
    align-self: center;
    color: var(--dark-blue);
}

#catalogue {
	display:flex;
	flex-wrap:wrap;
	margin-left:5%;
	margin-right:5%;
}
#catalogue figure{
	margin:10px;
}
#catalogue figure a img {
	width:200px;
	height:200px;
}
#catalogue figure a figcaption{
	color:var(--dark-blue);
	text-transform: uppercase;
	text-align:center;
}